/* DirectoryPage.css */

.Directcont {
  background-color: #f8f8f8;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.imghippo.com/files/UT2521711522111.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 3.5em;
  
}

.directory-heading {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.directory-search-bar {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directory-search-bar ::placeholder {
  color: rgb(241, 221, 221);
  opacity: 1; /* Firefox */
}
.directory-search-input {
  flex: 3;
  padding: 15px;
  font-size: 1.2em;
  width: 60%;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.directory-search-button {
  flex: 1;
  margin-left: 10px;
  font-size: 1.2em;
  background-color: #000406;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.directory-search-button:hover {
  background-color: #217dbb;
}

.directory-results-list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.directory-results-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
  /* Set text color to black */
}

.directory-results-item:hover {
  transform: scale(1.02);
}

.directory-no-results {
  color: #fff;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.user-skills {
  /* Set max width and allow text to wrap */
  max-width: 100%; /* Adjust this value as needed */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.user-profile-picture {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  height: 9.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.user-card:hover .user-profile-picture {
  transform: scale(1.1);
}

.user-card p {
  margin: 5px 0;
  color: black;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.follow-button,
.request-mentorship-button,
.unfollow-button {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  margin: 0 5px;
  border: none;
  border-radius: 15px; /* Increased border radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow-button:hover,
.request-mentorship-button:hover,
.unfollow-button:hover {
  background-color: #217dbb;
  color: #fff;
}
