/* EventsPage.css */

.events-page-container {
  background-image: url("../images/event_pg_img.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.events-list {
  width: 100%;
  max-width: 800px;
}

.evnt_cnt{
  max-width: auto;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(248, 248, 248, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(3px);
  margin-top: 5em;
  color:  #B7410E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event-item {
  margin-bottom: 20px;
  padding: 15px;
  width: 800px;
  background-color: #ffffff; /* White background color */
  border-radius: 20px; /* Increased border-radius for bubble shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  text-align: left;
}

.event-item h2 {
  margin-bottom: 10px;
  color: #B7410E; /* Updated text color */
}

.event-item p {
  margin: 5px 0;
  color: #555; /* Darker text color */
}

.event-item a {
  color: #B7410E;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.event-item a:hover {
  text-decoration: underline;
}

.event-item button {
  background-color: #B7410E;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.event-item button:hover {
  background-color: #7a2500; /* Darker color on hover */
}

.add-event-link {
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #B7410E;
  padding: 10px;
  border-radius: 5px;
}

.add-event-link:hover {
  background-color: #FFA500;
}

.edit-event-popup {
  display: flex; /* Updated to flex to make it visible */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 70%; /* Increased width */
  max-height: 80%; /* Maximum height with scroll */
  overflow-y: auto; /* Added overflow for scroll */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}