/* Footer.css */

.footer {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))rgba(0, 0, 0, 0.7);;
      margin-top: 0px;

      padding-top: 1em;
      display: flex;
      justify-content: center; /* Initially centered horizontally */
      align-items: cover;
      object-position: center;
      left: 0;
      width: 100%;
      z-index: 1000;
      border-radius: 1px; /* Default border radius */
  }