/* HomePage.css */


*{
  font-family: 'Bodoni Moda', serif;
  transition: 1.5;
}

.homepage-container {
  background-image: url('https://i.imghippo.com/files/5OqjQ1711506134.png');
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.homepage_text{
  margin-top: 34em;

}
.homepage-content {
  height: 100vh;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;

}

.carousel-section {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 1em;
  position: relative;
}

.carousel-section h2 {
  margin-bottom: 10px;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #007bff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-section:hover .slick-prev,
.carousel-section:hover .slick-next {
  opacity: 1;
}

.slick-prev:hover,
.slick-next:hover {
  color: #0056b3;
}


.carousel-section {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  position: relative;
}

.carousel-section img {
  width: 100%;
  border-radius: 10px;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #007bff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-section:hover .slick-prev,
.carousel-section:hover .slick-next {
  opacity: 1;
}

.slick-prev:hover,
.slick-next:hover {
  color: #0056b3;
}