/* MentorshipPage component styles */

.mentorship-container {
  background-image: url('../images/Designer\ \(22\).png');
  background-color: orange;
  color: white;
  padding: 20px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
}

.mentorship-container button{
  background-color: #B7410E;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.mentorship-container button:hover{
  background-color: #7a2500; /* Darker color on hover */
}

.req_cont{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 15px;
}

.req_cont img{
  
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.req_img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.req_details{
  margin-left: 23rem;
}

.req_buttons{
  margin-left: 1.27rem;
}
.mentorship-content{
  margin-top: 5em;
}

.mentorship-content h1{
  color: black;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.mentorship-content h3{
  max-width: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(3px);
  color: black;
  padding: 20px 20px;
}

.mentorship-details {
  margin-top: 20px;
}

.mentorship-details h3 {
  max-width: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(3px);
  color: black;
}


.mentorship-details table {
  max-width: auto;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(3px);
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Rounded corners for the table */
  overflow: hidden; /* Ensure table doesn't extend beyond the rounded corners */
}

.ment{
  max-width: auto;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(3px);
}

.ment p{
  color:chocolate;
}

.mentorship-details th, .mentorship-details td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}

.mentorship-details th {
  background-color: #B7410E; /* Orange */
  border-radius: 2px;
}

.mentorship-details td{
  color: black;
}

.mentorship-details td:last-child {
  text-align: center;
}

.mentorship-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mentorship-form-modal h2{
  color: black;
}

.mentorship-form-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.mentorship-form-content label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.mentorship-form-content input,
.mentorship-form-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mentorship-form-content button {
  padding: 10px 20px;
  background-color: #FFA500; /* Orange */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mentorship-form-content button:hover {
  background-color: #FF8C00; /* Darker orange on hover */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}