/* RegisterPage.css */

.register-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa; /* Set your desired background color */
}

.register-page-container button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.register-form {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

#username,
#email,
#password,
#confirmPassword,
#role {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#registerButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#registerButton:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  text-align: center;
}

#loginLink {
  color: #007bff;
  text-decoration: none;
  display: block; /* Make the link a block-level element */
}

#loginLink:hover {
  text-decoration: underline;
}

#registrationFooter {
  margin-top: auto;
}

.footer {
  margin-top: 20px; /* Add some space above the footer */
}


/* Add this to your existing CSS file or create a new one */

/* Success Popup Styles */
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50; /* Green background color */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
}

.success-popup p {
  margin: 0;
  font-size: 18px;
}

.success-popup button {
  background-color: #fff;
  color: #4caf50;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
