/* SettingsPage.css */

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: auto;
  background-image: url('../images/contactus_bg_img.png'); /* Add your background image URL here */
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}


.set_container{
  margin-top: 5em;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.set_container button{
  background-color: #B7410E;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px; 
  cursor: pointer;
}

.set_container button:hover{
  background-color: #7a2500;
}

.log_btn_cont{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(248, 248, 248, 0.5); /* Adjust the alpha value for transparency */
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding: 100px 150px;
}

